*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
article{
    width: 1000px;
    padding: 2%;
}
img{
    width: 100%;
}
article p{
    margin-top: 1%;
    margin-bottom: 1%;
    word-spacing: 3px;
    color: rgb(56, 56, 56);
}
footer {
    margin-left: -35px;
    max-width: 600px;
    height: 500px;
    width: auto;
    height: auto;
}
footer ul {
    margin-left: 20px;
    text-align: justify;
    display: flex;
    list-style-type: none;
}
footer ul li{
    margin: 70px;
    width: auto;
    height: auto;
    padding: 10px;
}
footer ul li h4{
    font-size: 20px;
    margin-bottom: 25px;
}
footer ul li img{
    width: 180px;
    height: 140px;
}
footer ul li p {
    font-size: 15px;
    margin-bottom: 15px;
}
footer ul li a{
    text-decoration: none;
    color: black;
}
footer ul li button{
    background-color: orange;
    border: solid 10px orange;
    border-radius: 15px;
}